.container {
  width: 100%;
  max-width: 1550px;
  height: auto;
  margin: 100px auto auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}